@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Genre: @Model.GenreName.GenreName</li>
    <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
    <li>DateAdded: @Model.DateAdded.ToShortDateString()</li>
    <li>Number available: @Model.NumberAvailable</li>
    <li>Total number: @Model.NumberInStock</li>
</ul>

@if (User.IsInRole("CanManageMovies"))
{

    <a href="/movie/edit/@Model.Id" class="btn btn-primary">Edit</a>
}
