@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Genre: @Model.GenreName.GenreName</li>
    <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
    <li>DateAdded: @Model.DateAdded.ToShortDateString()</li>
    <li>Number available: @Model.NumberAvailable</li>
</ul>
